<h1><p><%= @article.title %>

  <% if policy(@article).update? %>
  |
    <%= link_to "Edit", edit_article_path(@article) %>
  <% end %>

  <% if policy(@article).destroy? %>
  |
    <%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <% end %>
</p></h1>

<p>
    <strong>Author: </strong>
    <%= @article.author.email %>
</p>

<p>
    <strong>Content: </strong>
    <%= @article.body %>
</p>
<br>
<h3>Comments</h3>
<%= render @article.comments %>
<br>
<br>
<br>
<% if policy(@article).create? %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
<% end %>
