<h1><%= @article.title %></h1>

<p>
  <strong>Author: </strong>
  <%= @article.author.email %>
</p>

<p><%= @article.body %></p>

<%= link_to "Home", root_path %>

<ul>
  <% if policy(@article).update? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <% end %>

  <% if policy(@article).destroy? %>
    <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  <% end %>

</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<% if policy(@article).create? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
<% end %>
